<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Checkout\Model\CompositeConfigProvider">
        <arguments>
            <argument name="configProviders" xsi:type="array">
                <item name="salecto_shipping_config_provider" xsi:type="object">Salecto\Shipping\Model\ConfigProvider</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Checkout\Block\Onepage">
        <arguments>
            <argument name="layoutProcessors" xsi:type="array">
                <item name="salectoShippingDataProcessor" xsi:type="object">Salecto\Shipping\Block\Checkout\SalectoShippingDataProcessor</item>
                <item name="salectoShippingModulesProcessor" xsi:type="object">Salecto\Shipping\Model\Layout\LayoutProcessor</item>
            </argument>
        </arguments>
    </type>
    <type name="Aheadworks\OneStepCheckout\Model\Layout\LayoutProcessorProvider">
        <arguments>
            <argument name="processors" xsi:type="array">
                <item name="salectoShipping" xsi:type="string">Salecto\Shipping\Model\Layout\Aheadworks\OneStepCheckout\ShippingProcessor</item>
            </argument>
        </arguments>
    </type>
</config>
